* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #9c88ff, #3cadeb);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    min-height: 70px;
    height: 8vh;
    position: relative;
}

.header .logo {
    position: relative;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);

    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: #988f8f;
    border: 2px solid #988f8f;

    transition: background-color 0.1s ease-in-out;
}

.header .logo a {
    color: white;
    font: 900 30px "楷体";
    text-decoration: none;
}

.header .logo:hover {
    border: 2px solid #f0f0f0;
    background-color: #333;
}

.header .user {
    position: absolute;
    top: 50%;
    left: calc(100% - 260px);
    transform: translateY(-50%);

    width: 200px;
    height: 70%;

    display: flex;
    justify-content: cneter;
    align-items: center;
    border-radius: 50px;
    background-color: #988f8f;
}

.header .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.header .user i {
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.header .user i:hover {
    transform: scale(1.2);
    color: #34d6ff;
}
/* 商品详情 */
.max-container {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: column;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    width: 80vw;
    box-shadow: 0 0 20px #333;
    background-color: rgba(255,255,255,0.6);
    border-radius: 30px;
    animation: scratch 0.7s forwards;
    /* opacity: 0.5; */
  }
  @keyframes scratch {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.max-container .user-list{
    height: 36px;
    margin-left: 10px;
    display: flex;
    font: 600 15px "";
    border-bottom: 2px solid #1e1b1b;
   
}
.user-list .seller{
    height: 36px;
    display: flex;
    border-radius: 10px;
    border-bottom: 2px solid #342f2f;
    /* box-shadow: 0 0 20px #f9f7f7; */
}
.user-list .seller img{
    height: 36px;
    border-radius: 60px;
}
.user-list .h5{
    color: #000;
    margin-top: 10px;
}
.user-list .button{
    margin-top: 10px;
    padding: 3px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 2px solid #e6dede;
    margin-left: calc(100% - 150px);
}
.user-list .button:hover{
    background: #218838;
}
.detail{
    height: 900px;
}