* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #9c88ff, #3cadeb);
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  min-height: 70px;
  height: 8vh;
  position: relative;
}

.header .logo {
  position: relative;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);

  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background-color: #988f8f;
  border: 2px solid #988f8f;

  transition: background-color 0.1s ease-in-out;
}

.header .logo a {
  color: white;
  font: 900 30px "楷体";
  text-decoration: none;
}

.header .logo:hover {
  border: 2px solid #f0f0f0;
  background-color: #333;
}

.header .user {
  position: absolute;
  top: 50%;
  left: calc(100% - 260px);
  transform: translateY(-50%);

  width: 200px;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #988f8f;
}

.header .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.header .user i {
  font-size: 1.5em;
  margin-right: 10px;
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.header .user i:hover {
  transform: scale(1.2);
  color: #34d6ff;
}

/* 商品详情 */
.max-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70vw;
  animation: scratch 0.7s forwards;
}

@keyframes scratch {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.detail {
  margin-top: 50px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 10px #2b4b79;
  display: grid;
  grid-template-areas: "product cont";
  grid-gap: 10px;
  background-color: #ffffff;

  grid-template-columns: 40% 60%;
  padding: 10px;
}

.detail .product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 100%;
  grid-area: product;
}

.detail .product .image-box {
  position: relative;
  top: -15%;
  left: 15%;
  border: 7px solid #988f8f;
  border-radius: 10px;

  transition: transform 0.3s ease-in-out;
}
.detail .product .image-box:hover {
  transform: scale(1.1);
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
}

/* .detail .product img {
  max-height: 50%;
  width: auto;
  object-fit: contain;
  text-align: center;
  margin-left: 150%;
  margin-top: -100%;
  border: 7px solid #988f8f;
  border-radius: 10px;

  transition: transform 0.3s ease-in-out;
}

.detail .product img:hover {
  transform: scale(1.1);
} */

.cont {
  display: grid;
  grid-area: cont;
  grid-template-areas:
    "user-list"
    "title"
    "price"
    "detail"
    "button";
  grid-template-rows: 10% 5% 5% 40% 10%;
  margin-top: 50px;
  grid-gap: 10px;
}

.cont .user-list {
  height: 30%;
  display: flex;
  font: 600 15px "";
  margin-left: 18%;
  /* border-bottom: 2px solid #1e1b1b; */
  grid-area: user-list;
  border-radius: 10px;
  /* background-color: rgba(151, 70, 70, 0.6); */
  margin-top: 20px;
  justify-content: left;
  /* width: 50%; */
  /* margin-left: 300px; */
}

.user-list .go-to-seller {
  border-radius: 5px;
  cursor: pointer;
  /* width: 100%; */
  margin-left: 10px;
  /* height: 30%; */
  text-align: center;
  line-height: 43px;
  font-size: 22px;
  font-weight: 600;
  background: none;
  border: none;
  margin-top: 3%;
}

.cont .user-list img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  object-fit: cover;
}

.cont .name {
  align-content: center;
  justify-content: center;
  height: 10%;
  grid-area: title;
  position: relative;
  margin-left: 20%;

  font-weight: 700;
}

.cont .context {
  position: relative;
  margin-left: 20%;
  grid-area: detail;
  align-content: center;
  justify-content: center;
  height: 25%;
  width: 50%;
  color: #4d4c4c;
  font-size: 18px;
  float: left;
}

.cont .price {
  position: relative;
  margin-left: 20%;
  grid-area: price;
  align-content: center;
  justify-content: center;
  height: 5%;
  color: #000;
  /* position: absolute; */
  color: #ff0036;
  line-height: 43px;
  font-size: 22px;
  font-weight: 600;
}

.cont .buttons {
  grid-area: button;
  justify-content: center;
  display: grid;
  grid-template-columns: 25% 25%;
  height: 40%;
  margin-left: -10%;
}

.buttons .com_with_seller {
  width: 100%;
  border: none;
  /* background: #9c88ff; */
  background: linear-gradient(to right, #9c88ff, #6c9af5);
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font: 600 16px "";

  transition: transform 0.3s ease-in-out;
}

.com_with_seller:hover {
  transform: scale(1.1);
}

.buttons .add-to-cart {
  width: 100%;
  /* background: #3cadeb; */
  background: linear-gradient(to right, #6c9af5, #3cadeb);
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  line-height: 40px;
  font: 600 16px "";

  transition: transform 0.3s ease-in-out;
}

.add-to-cart:hover {
  transform: scale(1.1);
}

.alert-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  border: 1px solid #000;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.alert-box.active {
  display: flex;
  opacity: 1;
  top: 27%;
}

.bxs-check-circle {
  color: green;
  margin-right: 10px;
}

.alert-message {
  font: 600 13px "";
  margin-bottom: 3px;
}
