body {
  background: linear-gradient(to right, #9c88ff, #3cadeb);
  display: flex;
  justify-content: center;
}

.login-container {
  position: relative;
  top: 200px;
  width: 1100px;
  height: 0;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
  background-color: white;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  animation: scratch 0.7s forwards;
}

@keyframes scratch {
  from {
    height: 0;
  }
  to {
    height: 550px;
  }
}

.register-info-container {
  position: absolute;
  width: 300px;
  height: 550px;
  left: -260px;
  background-origin: white;
  display: flex;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.register-info-container.fade-in {
  transform: translateX(300px);
  opacity: 1;
}

.register-info {
  padding-top: 10px;
}

.register-ver-code-box {
  position: relative;
  bottom: 20px;
}

.login-img {
  width: 800px;
  height: 550px;
  background-image: url(../../image/167918.webp);
  background-size: cover;
  border-radius: 10px 0 0 10px;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 1100px) {
  .login-img {
    width: calc(100% - 300px);
  }
}

.login-img.move-right {
  transform: translateX(300px);
  border-radius: 0 10px 10px 0;
}

.login-info-container {
  width: 300px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
  overflow: hidden;
}

.login-info-container.fade-out {
  transform: translateX(300px);
  opacity: 0;
}

.login-info {
  width: 230px;
  height: 500px;
}

a {
  text-decoration: none;
}

.login-info > a {
  font: 900 25px "";
  color: grey;
  display: inline-block;
  margin: 20px 5px;
  position: relative;
}

.login-info > a.active {
  color: black;
}

.login-info > a.active::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #0ea4ea;
  animation: expand 0.5s forwards;
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.info {
  width: 200px;
  margin: 20px 0;
  outline: none;
  border: 0;
  padding: 10px;
  border-bottom: 2px solid #0ea4ea;
  font: 900 15px "";
}

.ver-code-info {
  width: 100px;
}

.get-ver-code {
  border: 0;
  position: relative;
  left: 140px;
  width: 80px;
  text-align: center;
  bottom: 60px;
  display: inline-block;
  outline: 1px solid #777777;
  padding: 10px;
  font: 600 15px "";
  border-radius: 10px;
  text-decoration: none;
  color: #777777;
}

.get-ver-code:hover {
  background-color: #777777;
  color: white;
}

.get-ver-code:active {
  background-color: white;
  color: #777777;
}

.login {
  position: relative;
  border: 0;
  margin: 20px;
  display: block;
  top: 20px;
  width: 200px;
  height: 60px;
  font: 900 25px "";
  border-radius: 30px;
  line-height: 55px;
  color: white;
  text-decoration: none;
  background: linear-gradient(to right, #9c88ff, #3cadeb);
  text-align: center;
  transition: 0.4s;
}

.login:hover {
  transform: scale(1.1);
}

.register {
  top: -60px;
  right: 10px;
}

.login-box {
  position: relative;
  top: -60px;
  left: 120px;
}

.register-box {
  position: relative;
  left: 120px;
  top: -51%;
}

.input-box i {
  position: relative;
  left: 180px;
  bottom: 50px;
  transition: 0.5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: #0ea4ea;
}

.input-box label {
  position: relative;
  bottom: 50px;
  font: 600 15px "";
  color: #777777;
  pointer-events: none;
  transition: 0.5s;
}

.register-info label {
  position: relative;
  right: 230px;
  top: 0;
}

.register-info .input-box input:focus ~ label,
.register-info .input-box input:valid ~ label {
  top: -25px;
}

.register-info i {
  position: relative;
  left: -60px;
  top: 0;
}

.register-info .confirm-i {
  position: relative;
  left: 208px;
  top: -53px;
}

.ver-code-label {
  left: -135px;
  top: 0;
}

.input-box input:valid ~ .ver-code-label,
.input-box input:focus ~ .ver-code-label {
  top: -25px;
  color: #0ea4ea;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  bottom: 75px;
  color: #0ea4ea;
}

.input-box input {
  padding-right: 20px;
}

.bxs-shield-plus {
  left: -70px !important;
  top: 0 !important;
}

.password-login-form {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
}

.password-login-form.hidden {
  opacity: 0;
  transform: translateX(-300px);
}

.mail-login-form {
  position: relative;
  top: -65%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(300px);
}

.mail-login-form.active {
  opacity: 1;
  transform: translateX(0);
}
