* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #9c88ff, #3cadeb);
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  min-height: 70px;
  height: 8vh;
  position: relative;
}

.header .logo {
  position: relative;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);

  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background-color: #988f8f;
  border: 2px solid #988f8f;

  transition: background-color 0.1s ease-in-out;
}

.header .logo a {
  color: white;
  font: 900 30px "楷体";
  text-decoration: none;
}

.header .logo:hover {
  border: 2px solid #f0f0f0;
  background-color: #333;
}

.header .user {
  position: absolute;
  top: 50%;
  left: calc(100% - 260px);
  transform: translateY(-50%);

  width: 200px;
  height: 70%;

  display: flex;
  justify-content: cneter;
  align-items: center;
  border-radius: 50px;
  background-color: #988f8f;
}

.header .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.header .user i {
  font-size: 1.5em;
  margin-right: 10px;
  margin-left: 5px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header .user i:hover {
  transform: scale(1.2);
  color: #34d6ff;
}

.header-title {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../image/chat-bg.png);
  background-size: cover;
  /* background-position: center; */
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
}

.header-title h2{
  font: 600 50px "";
  color: white;
  padding: 10px;
  border-radius: 30%;
}

#title-name {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: crimson;
}


button {
  border: none;
  background-color: #fff;
}

.tbody .goods-name {
  border: none;
  background-color: #fff;
  font: 600 18px ''
}

button:hover {
  color: #9c88ff;
}

.container {
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  max-width: 1200px;
  min-width: 800px;
  max-height: 800px;
  min-height: 500px;
  width: calc(100vw - 400px);
  height: calc(100vh - 200px);

  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;

  animation: scratch 0.7s forwards;
}

@keyframes scratch {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container .cart .td {
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  font: 600 15px "";
  border-bottom: 2px solid #ccc;
}

.goods-img img {
  width: 200px;
  height: 180px;
}

.goods-img img:hover {
  transform: scale(1.5);
}

.goods-list .tbody div {
  display: inline-block;
  text-align: center;
  width: 200px;
  /*
    border: 2px solid black;*/
  margin-left: 10px;
  margin-right: 10px;
}

.goods-list .tbody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goods-name {
  width: 220px;
}

.goods-list {
  overflow-y: scroll;
}

.goods-list .tbody .goods-img img {
  overflow: hidden;
}

#scrollable-div {
  height: 600px;
  overflow-y: scroll;
}

/* .head-owner {
  position: relative;
  left: 20.5%;
}

.head-name {
  position: relative;
  left: -10.5%;
}

.head-img {
  position: relative;
  left: -40%;
}

.head-price {
  position: relative;
  left: -8%;
} */


.alert-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  border: 1px solid #000;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.alert-box.active {
  display: flex;
  opacity: 1;
  top: 27%;
}

.bxs-error-circle {
  color: red;
  margin-right: 10px;
}

.alert-message {
  font: 600 13px "";
  margin-bottom: 3px;
}